$pink: #df9eff
button
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  cursor: pointer


.BUTTON
  font-family: 'Raleway', sans-serif
  position: relative
  overflow: hidden
  button
    white-space: nowrap
    position: absolute
    transition: all 0.35s ease-in-out
    font-weight: 500
    padding: 0
    margin: 0
    color: white
    padding: 5px 15px
    border-radius: 20px
  .BLOCK
    font-weight: 500
    white-space: nowrap
    color: transparent
    margin: 0
    padding: 0
    padding: 5px 15px

  .FIRST
    top: 0
    left: 0
    background-color: black
  .SECOND
    color: #df9eff

    background-color: red
    top: 100%
    left: 0

.BUTTON:hover
  .FIRST
    transform: translateY(-100%)
  .SECOND
    transform: translateY(-100%)