@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap')
*
  font-family: 'Raleway', sans-serif
  margin: 0
  padding: 0

button
  padding: 0
  margin: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  cursor: pointer

.primeNav
  display: flex
  flex-direction: row
  gap: 10px